Host runpod-qwen
    HostName 195.26.233.65
    Port 57403
    User root
    IdentityFile ~/.ssh/id_ed25519

Host runpod-qwen-proxy
    HostName ssh.runpod.io
    User y977m2sllhl4w8-644114c5
    IdentityFile ~/.ssh/id_ed25519
